<md-dialog class="detail-modal">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{vm.selectedTitle.titleName}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab ng-repeat="award in vm.awardsWon" label="{{award.award1}}">
                    <md-content class="detail-modal-offerTypes">
                        <label>Details </label>
                        <h2>
                            {{award.awardCompany}} 
                        </h2>
                        <h3>
                            {{award.awardYear}}
                        </h3>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-primary" ng-click="vm.hide()">
                OK
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>