body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: 70px !important;
  padding-top: 8px  !important;
  padding-bottom: 8px  !important;
  white-space: normal  !important; 

}
 .autocomplete-custom-template li:last-child {
  border-bottom-width: 0; }
.autocomplete-custom-template .item-title,
.autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2; }
.autocomplete-custom-template .item-title md-icon {
  height: 18px;
  width: 18px; }

.green {
    color: green;
}

.site-title {
    color: white;
    margin-left: auto;
    margin-right: auto;
}

/* MAIN TABLE AND SEARCH */
.search-box {
    padding-top: 10px;
}

.search-box .md-input {
    border-color: lightgray;
    border-color: rgba(0,0,0,0.6);
}

table.md-table tr:first-child td.md-cell {
    border-top: 1px rgb(255,64,129) solid;
}

.title-detail-table-container {
    width: 95%;
}

.name-column {
    margin: 0 !important;
}

.name-column span {
    text-transform: none;
    color: #0168BC;
}

.offer-type-column i {
    cursor: default;
}

/* DETAIL MODAL CSS */
.detail-modal {
    min-width: 60%;
}

.detail-modal-input-containers {
    padding-top: 30px;
}

.detail-modal-input-containers input:disabled {
    color: rgba(0,0,0,.6);
}

.detail-modal-offerTypes {
    padding-left: 30px;
    padding-top: 12px;
}

.detail-modal-offerTypes i{
    vertical-align: middle;
    cursor: default;
}

.detail-modal-offerTypes .disabled-icon {
    color: lightgray;
}

 .detail-modal-offerTypes .edit-mode {
    cursor: pointer;
}

.detail-modal-offerTypes label{
    padding-right: 4px;
}

.content-table .md-button {
    text-align: left !important;
}

#main-content {
    display: block;
}