@section title{
    Search Title
}
@section scripts{
    @Html.Partial("DefineAngular")
    <script>
        System.import('app/boottitlelist');
    </script>
}
<title-list class="titlelistcontent">
    <div class="waitloading">
        loading...
    </div>
</title-list>