@{
    ViewBag.Title = "Home Page";
}
<md-container class="search-box" layout="row">
    <div flex="5" layout="column" layout-align="center end">
        <i class="material-icons">search</i>
    </div>
    <md-input-container flex>
        <label>Search</label>
        <input ng-model="vm.search">
    </md-input-container>
</md-container>
<md-content class="content-table" layout="row" layout-align="center center">
    <md-table-container class="title-detail-table-container">
        <table md-table>
            <thead md-head md-order="vm.query.order" md-on-reorder="vm.onReorder">
                <tr md-row>
                    <th md-column>Name</th>
                    <th md-column>Release Year</th>
                    <th md-column md-numeric>Award Count</th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row md-select="title" md-select-id="{{title.id}}" md-auto-select
                    ng-repeat="title in vm.titles | filter: vm.search | orderBy: vm.query.order">
                <td md-cell>
                    <md-button class="name-column" ng-click="vm.onNameClick($event, title)">
                        {{title.titleName}}
                    </md-button>
                </td>
                    <td md-cell>{{title.releaseYear}}</td>
                    <td md-cell>{{vm.getWonAwardCount(title.awards) | number}}</td>
            </tbody>
        </table>
    </md-table-container>
</md-content>